 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusPrinter - Credits</title>
</head>

<body>

    <h1>CampusPrinter</h1>
    <h2>Project Credits</h2>

    <hr>

    <h3>Project Team</h3>

    <p>
        <strong>Frontend Lead:</strong> Vinay Kumar (24B81A62K2)
    </p>

    <p>
        <strong>Backend Lead:</strong> James (24B81A62E9)
    </p>

    <h3>Development Team</h3>

    <p>
        <strong>Frontend Developers:</strong><br>
        Pranith (24B81A62G0)
    </p>

    <p>
        <strong>Backend Developers:</strong><br>
        Usha and Spandana (24B81A62J5 , 24B81A62H9)
    </p>

    <h3>Testing & Quality Assurance</h3>

    <p>
        <strong>Testers:</strong><br>
        Devolepers(24B81A62 - E5,E9,G0,H9,J5,K2)<br>
        Lousche (26B81A1257)<br>
        Dot (26B81A05lB)
    </p>

    <hr>
    <h3>Advisor and Deployment Helper</h3>
    <p>
        Eashwar (24B81A62E5)
    </p>

    <p>
        <strong>CampusPrinter</strong> — A smart campus printing management system.
    </p>

    <p>
        Thank you to everyone who contributed to the development,
        testing, and improvement of this project.
    </p>

</body>
</html>
